@model IEnumerable<PortalToKnowledge.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Assignments
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <ul>
                    @foreach(var assignment in item.Assignments)
                    {
                        <li>
                            @assignment.Name |
                            @Html.ActionLink("View Assignment", "ViewAssignment", new { id = assignment.AssignmentId})
                        </li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Courses", new { id = item.CourseId }, null) |
                @Html.ActionLink("Flashcards", "Flashcards", new { id = item.CourseId }) |
                @Html.ActionLink("Notes", "Index", "Notes", new { id = item.CourseId }, null) |
                @Html.ActionLink("Additional Resources", "Index", "Resources", new { id = item.CourseId }, null) |
                @Html.ActionLink("Assignments", "Index", "Assignments", new { id = item.CourseId }, null) 
            </td>
        </tr>
    }

</table>
