@model PortalToKnowledge.ViewModels.StudentViewModel

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
    </dl>
</div>

@if (User.IsInRole("Student"))
{
foreach (var item in Model.Student.Courses)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: @Model.progressPercentageMap[item.CourseId]%;"></div>
        </div>
    </tr>
}
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Student.StudentId }) 
</p>
