@model PortalToKnowledge.ViewModels.AssignmentNoteViewModel
@{
    ViewBag.Title = "ViewAssignment";
}

<h2>Current Assignment</h2>

@if (Model.Assignment.MediaType.Type == "Video")
{
    <input id="youtubeVideoId" hidden value="@Model.Assignment.Link" />

    <div>
        <center>
            <div id="player"></div>
        </center>

        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var videoId = document.getElementById('youtubeVideoId').value;
            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    height: '390',
                    width: '640',
                    videoId: videoId,
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            }

            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
                event.target.playVideo();
            }

            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.PLAYING && !done) {
                    setTimeout(stopVideo, 20000);
                    done = true;
                }
            }
            function stopVideo() {
                player.stopVideo();
            }
        </script>
    </div>
}
else
{

    <iframe src="@Model.Assignment.Link" style="height:500px; width:100%;"></iframe>
}

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Note.AssignmentId)
    @Html.HiddenFor(model => model.Note.StudentId)

    <div class="form-group">
        @Html.LabelFor(model => model.Note.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="center col-md-10">
            @Html.EditorFor(model => model.Note.Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="center col-md-10">
            <input type="submit" value="Add Note" class="btn btn-default" />
        </div>
    </div>
</div>

}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Assignment.AssignmentId)


        <div class="form-group">
            <div class="center col-md-10">
                <input type="submit" value="Complete Assignment" class="btn btn-default" />
            </div>
        </div>
    </div>

}