@model IEnumerable<PortalToKnowledge.Models.Course>

@{
    ViewBag.Title = "ViewStudents";
}

<h2>ViewStudents</h2>

<p>
    @Html.ActionLink("Add Student", "AddStudent")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <ul>
            @foreach(var student in item.Students)
            {
                <li>
                    @student.FirstName 
                    @student.LastName |
                    @Html.ActionLink("Check Progress", "StudentProgress", new { studentId = student.StudentId, courseId = item.CourseId }) |
                    @Html.ActionLink("Remove", "RemoveStudent", "Courses", new { id = student.StudentId }, null)
                </li>
            }
            </ul>
        </td>
    </tr>
    }

</table>


