@model IEnumerable<PortalToKnowledge.Models.Class>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateClass")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)  
            </td>
            <td>
                @Html.ActionLink("View Class", "Details", "Classes", new { id = item.ClassId }, null) |
                @Html.ActionLink("Add Student", "AddStudent", "Classes", new { id = item.ClassId }, null) |
                @Html.ActionLink("Add Media", "AddMedia", new { id = item.ClassId }) |
                @Html.ActionLink("Add Resource", "Create", "Resources", new { id = item.ClassId }, null) |
                @Html.ActionLink("Delete", "Delete", "Classes", new { id = item.ClassId }, null)
            </td>
        </tr>
    }

</table>
