@model IEnumerable<PortalToKnowledge.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Your Courses</h2>

<p>
    @Html.ActionLink("Create New", "CreateCourse") |
    @Html.ActionLink("Tasks", "GoogleTasks", "GoogleTasks")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)  
            </td>
            <td>
                @Html.ActionLink("View Class", "Details", "Courses", new { id = item.CourseId }, null) |
                @Html.ActionLink("Add Student", "AddStudent", "Courses", new { id = item.CourseId }, null) |
                @Html.ActionLink("Add Assignment", "Create", "Assignments", new { id = item.CourseId }, null) |
                @Html.ActionLink("Add Resource", "Create", "Resources", new { id = item.CourseId }, null) |
                @Html.ActionLink("Delete", "Delete", "Courses", new { id = item.CourseId }, null)
            </td>
        </tr>
    }

</table>
