@model PortalToKnowledge.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Courses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.FirstName) @Html.DisplayFor(model => model.Instructor.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Students:
        </dt>
        <dd></dd>

        @foreach (var student in Model.Students)
        {
            <dt></dt>

            <dd>
                @student.FirstName @student.LastName 
                @if(User.IsInRole("Instructor")) { @Html.ActionLink("Remove", "RemoveStudent", new { id = student.StudentId })}
            </dd>
        }
        <dt>

        </dt>

        <dt>
            Assignments:
        </dt>
        <dd></dd>

        @foreach (var assignment in Model.Assignments)
        {
            <dt></dt>

            <dd>
                @assignment.Name @assignment.DueDate 
                @if (User.IsInRole("Istructor")) {@Html.ActionLink("Remove", "Delete", "Assignments", new { id = assignment.AssignmentId }, null)}
            </dd>
        }
        <dt>

        </dt>


    </dl>
</div>
<p>
    @if (User.IsInRole("Instructor"))
    {
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
            @Html.ActionLink("Add Students", "AddStudent", new { id = Model.CourseId }) |
            @Html.ActionLink("Back to Courses", "ViewCourses", "Instructors")
        </div>
    }
    else
    {
        <div>
            @Html.ActionLink("Back to Courses", "Courses", "Students")
        </div>
    }
</p>
