@model IEnumerable<IList<Google.Apis.Tasks.v1.Data.Task>>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Instructor"))
{
    <p>

        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.Abbreviation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zipcode.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.Abbreviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ResourceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ResourceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ResourceId })
            </td>
        </tr>
    }

</table>