@model PortalToKnowledge.ViewModels.TaskListTaskViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Tasks</h2>

<table class="table">
    @foreach (var taskList in Model.TaskLists)
    {
    <th>
        @taskList.Title @Html.ActionLink("Add Task", "AddTask", new { id = taskList.Id })
    </th>   
        foreach (var task in Model.TasksMap[taskList.Id])
        {
                    <tr>
                        <td>
                            @task.Title | @task.Notes | @task.Due
                        </td>
                    </tr>    
        }
    }
</table>