@model PortalToKnowledge.ViewModels.TaskListTaskViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Tasks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    @foreach (var taskList in Model.TaskLists)
    {
        <th>
            @taskList.Title
        </th>   
        foreach (var task in Model.TasksMap[taskList.Id])
        {
                    <tr>
                        <td>
                            @task.Status | @task.Title | @task.Notes | @task.Due
                        </td>
                    </tr>    
        }
    }
</table>