@model PortalToKnowledge.ViewModels.TaskListTaskViewModel

<center>
    <h2><strong>Tasks</strong></h2>
</center>
<br />
<div class="list-group">
    @foreach (var taskList in Model.TaskLists)
    {
        <a href="#" class="list-group-item list-group-item-action active">
            <h4><strong>@taskList.Title</strong> </h4>
        </a>
        <br />
        if (User.IsInRole("Instructor"))
        {
            <div>
                <h5>@Html.ActionLink("Add Task", "AddTask", new { id = taskList.Id })</h5>
                <br />
            </div>
        }
        foreach (var task in Model.TasksMap[taskList.Id])
        {
            <a href="#" class="list-group-item list-group-item-action">
                <h5>@task.Title | @task.Notes | @task.Due</h5>
            </a>
            <br />
        }
    }
</div>

@if (User.IsInRole("Instructor"))
{
    @Html.ActionLink("Back to Courses", "ViewCourses", "Instructors")
}