@model IEnumerable<PortalToKnowledge.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Assignments</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <ul>
            @foreach(var assignment in item.Assignments)
            {
                <li>@assignment.Name | @Html.ActionLink("Details", "Details", new { id = assignment.AssignmentId }) </li>
            }
            </ul>
        </td>
        <td>
            @if (User.IsInRole("Instructor"))
            {
            @Html.ActionLink("Add Assignment", "Create", new { id = item.CourseId })
            }
        </td>
    </tr>
}

</table>
