@model IEnumerable<PortalToKnowledge.Models.Progress>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProgressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProgressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProgressId })
        </td>
    </tr>
}

</table>
